.content_container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    color: aqua;
    padding: 10px;
}

.content_container form input {
    font-size: 1.6rem;
}