* {
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.sidebar_button button {
    color: #fff;
}

.icon {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;

}

.search_input {
    height: 20px;
    width: 100%;
}

li {
    width: fit-content;
}