* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #123;
}

a {
    text-decoration: none;
    color: #fff;
}

.sidebar {
    width: 60px;
    height: 100vh;
    background-color: #123;
    padding: 10px;
    transition: all .3s ease-in-out;
}



.sidebar_button button {
    color: #fff;
    margin: 10px;
}

.sidebar li:hover {
    background-color: rgb(42, 66, 89);
    padding: 10px;
    max-width: fit-content;
    border-radius: 8px;


}


.sidebar_ul {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 60px;
    font-size: 25px;
    position: relative;
    align-items: center;
}

.sidebar span {
    display: none;
    padding: 5px;
}

.logout {
    position: absolute;
    bottom: 20px;
}

.sidebar_ul li {
    width: fit-content;
    transition: all 0.3s ease-in-out;
}