body {
    background-color: #000000;
    text-decoration: none;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

ul {
    list-style: none;

}